[Unit]
Description = Timezone Monitor Gamma
After=xinitrc.target

[Service]
ExecStart = /usr/bin/redshift
Restart = always

[Install]
WantedBy = default.target
