[Unit]
Description = RXVT-unicode Daemon
After=xinitrc.target

[Service]
ExecStart = /usr/bin/urxvtd -q -o -f
Restart = always

[Install]
WantedBy = default.target
